@model List<AuditoriaModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Lista de Auditorias
  </div>
  <div class="card-body">
    
   <a asp-action="Guardar" asp-controller="MantenedorA" class="btn btn-success" > <i class="bi bi-plus-circle"></i> Crear Nueva Auditoria</a>

   <hr />

   <table class="table table-bordered">
         <thead>
             <tr>
                 <th>IdAuditoria </th>
                 <th>FechaInicioAuditoria</th>
                 <th>FechaFinalAuditoria</th>
                 <th>Comentarios</th>
                 <th>Recomendacion</th>
                 <th>IdActivo</th>
                 <th></th>
             </tr>
         </thead>
         <tbody>
             @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdAuditoria</td>
                       <td>@item.FechaInicioAuditoria</td>
                       <td>@item.FechaFinalAuditoria</td>
                       <td>@item.Comentarios</td>
                       <td>@item.Recomendacion</td>
                       <td>@item.IdActivo</td>
                        <td class="">
                            <a asp-action="Editar" asp-controller="MantenedorA" class="btn btn-primary btn-sm" asp-route-IdAuditoria=@item.IdAuditoria><i class="bi bi-pencil-square"></i> Editar</a>
                            <a asp-action="Eliminar" asp-controller="MantenedorA" class="btn btn-danger btn-sm" asp-route-IdAuditoria=@item.IdAuditoria><i class="bi bi-trash"></i> Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>

     </table>



  </div>
</div>

